@page "/"
<PageTitle>Главная - Labs.Blazor</PageTitle>

<div class="container mt-5">
    <h1>Добро пожаловать в Labs.Blazor</h1>
    <p>Это главная страница Blazor приложения</p>

    <div class="mt-4">
        <h3>Доступные страницы:</h3>
        <ul>
            <li><a href="/products">Список блюд (Blazor)</a></li>
            <li><a href="/counter">Счетчик (стандартный пример)</a></li>
        </ul>
    </div>
</div>
