@page "/Test"

<PageTitle>Главная</PageTitle>

<div class="container mt-5">
    <h1>Добро пожаловать в Labs.Blazor!</h1>
    <p>Если видите этот текст - Blazor работает!</p>

    <div class="card mt-4">
        <div class="card-body">
            <h3>Навигация:</h3>
            <a href="/products" class="btn btn-primary">Список блюд</a>
        </div>
    </div>
</div>