@{
    ViewData["Title"] = "Администрирование";
}

<h2>Панель администратора</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Управление каталогом</div>
            <div class="card-body">
                <p>Здесь можно управлять блюдами и категориями</p>
                <ul>
                    <li>Добавление новых блюд</li>
                    <li>Редактирование существующих</li>
                    <li>Управление категориями</li>
                </ul>
                <p>Функционал будет добавлен в следующей лабораторной работе</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Статистика</div>
            <div class="card-body">
                <p>Статистика заказов и пользователей</p>
                <p>Пока недоступно</p>
            </div>
        </div>
    </div>
</div>